[submodule "Components/tinyxml"]
	path = Components/tinyxml
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Components/log4cplus"]
	path = Components/log4cplus
	url = https://github.com/log4cplus/log4cplus.git
[submodule "Components/SDL2"]
	path = Components/SDL2
	url = https://github.com/spurious/SDL-mirror.git
