Bin

*.suo
*.db
*.suo
*.opendb
*.m4
*.mk
*.md
*.wav
*.ipch
*.tmp
*.bak*
*.tlog
*.obj
*.idb
*.log
*.pdb
*.dll
*.lib
*.exe

.vs/
#Components
.vs/Engine/v15/Solution.VC.db-wal
.vs/Engine/v15/Solution.VC.db-shm
